<html>
<body>
<h1>ASP.Net Crasher</h1>
<ul>
    <li><a href="/WebApplication/home/hang">Generate a hanged worker process (threads waiting)</a></li>
    <li><a href="/WebApplication/home/stackoverflow">Generate a StackOverflow</a></li>
    <li><a href="/WebApplication/home/sleep">Thread.Sleep (sleeps for 5 minutes)</a></li>
    <li><a href="/WebApplication/home/memoryleak">Leak some memory</a></li>
</ul>
</body>
</html>